* {
	margin: 0;
}
body {
	background-color: #f5f6fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 10px;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	height: 100vh;
	max-width: 1440px;
	margin: 0 auto;
}

.app__header {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.app__left {
	flex: 0.9;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

.app__right {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app__right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.app__graph {
	flex: 0 1 300px;
	margin-top: 20px;
}

h3#new-cases {
	margin-top: 20px;
}

h1#header-title {
	color: #484839;
}

@media screen and (max-width: 992px) {
	.app {
		flex-direction: column;
	}
}
